.div1 {
    display: flex;
    background-color: rgb(231, 206, 184);
    background-position-x: right;
    flex-wrap: wrap;
    min-width: 250px;
}

.imagen1 {
    margin-left: 2px;
    align-items: baseline;
    height: 100px;
    margin-top: 10px;
}

.texto {
    text-align: left;
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 55px;
    margin-top: 30px;
    flex: 1;
}

.h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: 50px;
    font-size: x-large;
    margin-top: 50px;
}

.div2 {
    margin-top: 50px;
    display: flex;
    background-color: rgb(161, 130, 98);
}

.videito {
    size: 400px;
    display: flex;
    margin-top: 0px;
}

.texto2 {
    display: flex;
    text-align: right;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    margin-top: 0px;
    flex: 2;

}

.texto3 {
    display: flex;
    text-align: left;
    margin-right: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    flex: 3;
}

.imagen2 {
    height: 650px;
    margin-right: 0px;
    margin-left: 0px;
    width: 1000px;
}

.imagen3 {
    margin-left: 5px;
    height: 350px;
    width: 500px;
    margin-right: 3px;
}

.texto4 {
    display: flex;
    text-align: right;
    margin-right: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    flex: 4;
}

.imagen4 {
    width: 600px;
    height: 400px;
    margin-top: 20px;
}

body {
    background-color: rgb(161, 130, 98);
}


@media (max-width:550px) {
    .videito {
        size: 25px;
    }
}